body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #000;
    color: white;
}

/* HEADER */
.header {
    width: 100%;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo {
    height: 60px;
}

.nav a {
    margin-left: 25px;
    color: #4aa3ff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

/* HERO */
.hero {
    background: url('portada.jpg');
    background-size: cover;
    background-position: center;
    height: 95vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 80px;
}

.hero h1 {
    font-size: 55px;
    color: #3fa2ff;
    text-shadow: 0 0 15px #000;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 14px 40px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 12px;
    border: 2px solid #3fa2ff;
    color: #3fa2ff;
    text-decoration: none;
    background: rgba(0,0,0,0.5);
}

/* FOOTER */
footer {
    padding: 20px;
    text-align: center;
    background: #00101f;
    font-size: 14px;
}